In [253]:
import pymongo
import seaborn
import pandas
import re

In [254]:

client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client['progress_tracker']
tvCollection = db['TV']
usersCollection = db['Users']

In [255]:
tvCollection.create_index("Title", unique=True)
usersCollection.create_index("Username", unique=True)
usersCollection.create_index("Email", unique=True)

'Email_1'

In [256]:
tvShows = [
    {
        "Title": "Stranger Things",
        "Creators": ["Matt Duffer", "Ross Duffer"],
        "Number of Episodes": 34
    },
    {
        "Title": "The Umbrella Academy",
        "Creators": ["Steve Blackman", "Jeremy Slater"],
        "Number of Episodes": 30
    },
        {
        "Title": "The Crown",
        "Creators": ["Peter Morgan"],
        "Number of Episodes": 50,
    },
    {
        "Title": "Money Heist",
        "Creators": ["Álex Pina"],
        "Number of Episodes": 41,
    },
    {
        "Title": "Black Mirror",
        "Creators": ["Charlie Brooker"],
        "Number of Episodes": 22,
    },
    {
        "Title": "The Witcher",
        "Creators": ["Lauren Schmidt Hissrich"],
        "Number of Episodes": 24,
    },
    {
        "Title": "Narcos",
        "Creators": ["Chris Brancato", "Carlo Bernard", "Doug Miro"],
        "Number of Episodes": 30,
    },
    {
        "Title": "Ozark",
        "Creators": ["Bill Dubuque", "Mark Williams"],
        "Number of Episodes": 44,
    },
    {
        "Title": "The Haunting of Hill House",
        "Creators": ["Mike Flanagan"],
        "Number of Episodes": 10,
    },
    {
        "Title": "Mindhunter",
        "Creators": ["Joe Penhall"],
        "Number of Episodes": 19,
    }
]

In [257]:
users = [
    {
        "Fname": "John",
        "Lname": "Doe",
        "Username": "john_doe",
        "Password": "password123",
        "Profile image": "path/to/image",
        "Email": "john.doe@example.com",
        "Role": "user",
        "Shows watched": [
            {
                "Name": "Stranger Things",
                "Status": "watching",
                "Episodes": 5
            }
        ]
    },
    {
        "Fname": "Jane",
        "Lname": "Smith",
        "Username": "jane_smith",
        "Password": "password321",
        "Profile image": "path/to/image",
        "Email": "jane.smith@example.com",
        "Role": "user",
        "Shows watched": [
            {
                "Name": "The Umbrella Academy",
                "Status": "completed",
                "Episodes": 30
            }
        ]
    }
]

In [269]:
try:
    tvCollection.insert_many(tvShows)
    print("Tv Data inserted successfully.")
except Exception as E:
    if re.search('duplicate keyee', str(E)):
        print("*Attempted to insert duplicate key(s)*")
    else:
        print(str(E))

batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: progress_tracker.TV index: Title_1 dup key: { Title: "Stranger Things" }', 'keyPattern': {'Title': 1}, 'keyValue': {'Title': 'Stranger Things'}, 'op': {'Title': 'Stranger Things', 'Creators': ['Matt Duffer', 'Ross Duffer'], 'Number of Episodes': 34, '_id': ObjectId('64dce4be00c02dd55e7394c5')}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [268]:
try:
    usersCollection.insert_many(users)
    print("User Data inserted successfully.")
except Exception as E:
    if re.search('duplicate keyee', str(E)):
        print("*Attempted to insert duplicate key(s)*")
    else:
        print(str(E))

*Attempted to insert duplicate key(s)*

In [260]:
tvDocuments = tvCollection.find({})
usersDocuments = usersCollection.find({})

In [261]:
pandas.DataFrame(list(tvDocuments))

,_id,Title,Creators,Number of Episodes
0,64dce17e00c02dd55e739491,Stranger Things,"[Matt Duffer, Ross Duffer]",34
1,64dce17e00c02dd55e739492,The Umbrella Academy,"[Steve Blackman, Jeremy Slater]",30
2,64dce17e00c02dd55e739493,The Crown,[Peter Morgan],50
3,64dce17e00c02dd55e739494,Money Heist,[Álex Pina],41
4,64dce17e00c02dd55e739495,Black Mirror,[Charlie Brooker],22
5,64dce17e00c02dd55e739496,The Witcher,[Lauren Schmidt Hissrich],24
6,64dce17e00c02dd55e739497,Narcos,"[Chris Brancato, Carlo Bernard, Doug Miro]",30
7,64dce17e00c02dd55e739498,Ozark,"[Bill Dubuque, Mark Williams]",44
8,64dce17e00c02dd55e739499,The Haunting of Hill House,[Mike Flanagan],10
9,64dce17e00c02dd55e73949a,Mindhunter,[Joe Penhall],19

In [262]:
pandas.DataFrame(list(usersDocuments))

,_id,Fname,Lname,Username,Password,Profile image,Email,Role,Shows watched
0,64dce17e00c02dd55e73949b,John,Doe,john_doe,password123,path/to/image,john.doe@example.com,user,"[{'Name': 'Stranger Things', 'Status': 'watchi..."
1,64dce17e00c02dd55e73949c,Jane,Smith,jane_smith,password321,path/to/image,jane.smith@example.com,user,"[{'Name': 'The Umbrella Academy', 'Status': 'c..."