In [23]:
import pymongo
import seaborn
import pandas
import re

In [24]:

client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client['progress_tracker']
tvCollection = db['TV']
usersCollection = db['Users']

In [25]:
tvCollection.create_index("Title", unique=True)
usersCollection.create_index("Username", unique=True)
usersCollection.create_index("Email", unique=True)
#tvCollection.drop()
#usersCollection.drop()

'Email_1'

In [26]:
tvShows = [
    {
        "Title": "Stranger Things",
        "Creators": ["Matt Duffer", "Ross Duffer"],
        "Number_of_Episodes": 34
    },
    {
        "Title": "The Umbrella Academy",
        "Creators": ["Steve Blackman", "Jeremy Slater"],
        "Number_of_Episodes": 30
    },
        {
        "Title": "The Crown",
        "Creators": ["Peter Morgan"],
        "Number_of_Episodes": 50,
    },
    {
        "Title": "Money Heist",
        "Creators": ["Álex Pina"],
        "Number_of_Episodes": 41,
    },
    {
        "Title": "Black Mirror",
        "Creators": ["Charlie Brooker"],
        "Number_of_Episodes": 22,
    },
    {
        "Title": "The Witcher",
        "Creators": ["Lauren Schmidt Hissrich"],
        "Number_of_Episodes": 24,
    },
    {
        "Title": "Narcos",
        "Creators": ["Chris Brancato", "Carlo Bernard", "Doug Miro"],
        "Number_of_Episodes": 30,
    },
    {
        "Title": "Ozark",
        "Creators": ["Bill Dubuque", "Mark Williams"],
        "Number_of_Episodes": 44,
    },
    {
        "Title": "The Haunting of Hill House",
        "Creators": ["Mike Flanagan"],
        "Number_of_Episodes": 10,
    },
    {
        "Title": "Mindhunter",
        "Creators": ["Joe Penhall"],
        "Number_of_Episodes": 19,
    }
]

In [27]:
users = [
    {
        "Fname": "John",
        "Lname": "Doe",
        "Username": "john_doe",
        "Password": "password123",
        "Profile_image": "user_bright.png",
        "Email": "john.doe@example.com",
        "Role": "user",
        "Shows_Watched": [
            {
                "Name": "Stranger Things",
                "Status": "watching",
                "Episodes": 5
            }
        ]
    },
    {
        "Fname": "Jane",
        "Lname": "Smith",
        "Username": "jane_smith",
        "Password": "password321",
        "Profile_image": "user_bright.png",
        "Email": "jane.smith@example.com",
        "Role": "user",
        "Shows_Watched": [
            {
                "Name": "The Umbrella Academy",
                "Status": "completed",
                "Episodes": 30
            }
        ]
    }
]

In [28]:
try:
    tvCollection.insert_many(tvShows)
    print("Tv Data inserted successfully.")
except Exception as E:
    if re.search('duplicate key', str(E)):
        print("*Attempted to insert duplicate key(s)*")
    else:
        print(str(E))

Tv Data inserted successfully.

In [29]:
try:
    usersCollection.insert_many(users)
    print("User Data inserted successfully.")
except Exception as E:
    if re.search('duplicate key', str(E)):
        print("*Attempted to insert duplicate key(s)*")
    else:
        print(str(E))

User Data inserted successfully.

In [30]:
tvDocuments = tvCollection.find({})
usersDocuments = usersCollection.find({})

In [31]:
pandas.DataFrame(list(tvDocuments))

,_id,Title,Creators,Number_of_Episodes
0,64e392f2fa15294e7eeb14e2,Stranger Things,"[Matt Duffer, Ross Duffer]",34
1,64e392f2fa15294e7eeb14e3,The Umbrella Academy,"[Steve Blackman, Jeremy Slater]",30
2,64e392f2fa15294e7eeb14e4,The Crown,[Peter Morgan],50
3,64e392f2fa15294e7eeb14e5,Money Heist,[Álex Pina],41
4,64e392f2fa15294e7eeb14e6,Black Mirror,[Charlie Brooker],22
5,64e392f2fa15294e7eeb14e7,The Witcher,[Lauren Schmidt Hissrich],24
6,64e392f2fa15294e7eeb14e8,Narcos,"[Chris Brancato, Carlo Bernard, Doug Miro]",30
7,64e392f2fa15294e7eeb14e9,Ozark,"[Bill Dubuque, Mark Williams]",44
8,64e392f2fa15294e7eeb14ea,The Haunting of Hill House,[Mike Flanagan],10
9,64e392f2fa15294e7eeb14eb,Mindhunter,[Joe Penhall],19

In [32]:
pandas.DataFrame(list(usersDocuments))

,_id,Fname,Lname,Username,Password,Profile_image,Email,Role,Shows_Watched
0,64e392f2fa15294e7eeb14ec,John,Doe,john_doe,password123,user_bright.png,john.doe@example.com,user,"[{'Name': 'Stranger Things', 'Status': 'watchi..."
1,64e392f2fa15294e7eeb14ed,Jane,Smith,jane_smith,password321,user_bright.png,jane.smith@example.com,user,"[{'Name': 'The Umbrella Academy', 'Status': 'c..."