In [1]:
import pymongo
import seaborn
import pandas
import re

In [2]:

client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client['progress_tracker']
tvCollection = db['TV']
usersCollection = db['Users']

In [3]:
tvCollection.create_index("Title", unique=True)
usersCollection.create_index("Username", unique=True)
usersCollection.create_index("Email", unique=True)

'Email_1'

In [4]:
tvShows = [
    {
        "Title": "Stranger Things",
        "Creators": ["Matt Duffer", "Ross Duffer"],
        "Number_of_Episodes": 34
    },
    {
        "Title": "The Umbrella Academy",
        "Creators": ["Steve Blackman", "Jeremy Slater"],
        "Number_of_Episodes": 30
    },
        {
        "Title": "The Crown",
        "Creators": ["Peter Morgan"],
        "Number_of_Episodes": 50,
    },
    {
        "Title": "Money Heist",
        "Creators": ["Álex Pina"],
        "Number_of_Episodes": 41,
    },
    {
        "Title": "Black Mirror",
        "Creators": ["Charlie Brooker"],
        "Number_of_Episodes": 22,
    },
    {
        "Title": "The Witcher",
        "Creators": ["Lauren Schmidt Hissrich"],
        "Number_of_Episodes": 24,
    },
    {
        "Title": "Narcos",
        "Creators": ["Chris Brancato", "Carlo Bernard", "Doug Miro"],
        "Number_of_Episodes": 30,
    },
    {
        "Title": "Ozark",
        "Creators": ["Bill Dubuque", "Mark Williams"],
        "Number_of_Episodes": 44,
    },
    {
        "Title": "The Haunting of Hill House",
        "Creators": ["Mike Flanagan"],
        "Number_of_Episodes": 10,
    },
    {
        "Title": "Mindhunter",
        "Creators": ["Joe Penhall"],
        "Number_of_Episodes": 19,
    }
]

In [5]:
users = [
    {
        "Fname": "John",
        "Lname": "Doe",
        "Username": "john_doe",
        "Password": "password123",
        "Profile image": "path/to/image",
        "Email": "john.doe@example.com",
        "Role": "user",
        "Shows_Watched": [
            {
                "Name": "Stranger Things",
                "Status": "watching",
                "Episodes": 5
            }
        ]
    },
    {
        "Fname": "Jane",
        "Lname": "Smith",
        "Username": "jane_smith",
        "Password": "password321",
        "Profile image": "path/to/image",
        "Email": "jane.smith@example.com",
        "Role": "user",
        "Shows_Watched": [
            {
                "Name": "The Umbrella Academy",
                "Status": "completed",
                "Episodes": 30
            }
        ]
    }
]

In [6]:
try:
    tvCollection.insert_many(tvShows)
    print("Tv Data inserted successfully.")
except Exception as E:
    if re.search('duplicate key', str(E)):
        print("*Attempted to insert duplicate key(s)*")
    else:
        print(str(E))

*Attempted to insert duplicate key(s)*

In [7]:
try:
    usersCollection.insert_many(users)
    print("User Data inserted successfully.")
except Exception as E:
    if re.search('duplicate key', str(E)):
        print("*Attempted to insert duplicate key(s)*")
    else:
        print(str(E))

*Attempted to insert duplicate key(s)*

In [8]:
tvDocuments = tvCollection.find({})
usersDocuments = usersCollection.find({})

In [9]:
pandas.DataFrame(list(tvDocuments))

,_id,Title,Creators,Number_of_Episodes
0,64de799efaf74922bc9872d1,Stranger Things,"[Matt Duffer, Ross Duffer]",34
1,64de799efaf74922bc9872d2,The Umbrella Academy,"[Steve Blackman, Jeremy Slater]",30
2,64de799efaf74922bc9872d3,The Crown,[Peter Morgan],50
3,64de799efaf74922bc9872d4,Money Heist,[Álex Pina],41
4,64de799efaf74922bc9872d5,Black Mirror,[Charlie Brooker],22
5,64de799efaf74922bc9872d6,The Witcher,[Lauren Schmidt Hissrich],24
6,64de799efaf74922bc9872d7,Narcos,"[Chris Brancato, Carlo Bernard, Doug Miro]",30
7,64de799efaf74922bc9872d8,Ozark,"[Bill Dubuque, Mark Williams]",44
8,64de799efaf74922bc9872d9,The Haunting of Hill House,[Mike Flanagan],10
9,64de799efaf74922bc9872da,Mindhunter,[Joe Penhall],19

In [10]:
pandas.DataFrame(list(usersDocuments))

,_id,Fname,Lname,Username,Password,Profile image,Email,Role,Shows_Watched
0,64de799efaf74922bc9872db,John,Doe,john_doe,password123,path/to/image,john.doe@example.com,user,"[{'Name': 'Ozark', 'Status': 'completed', 'Epi..."
1,64de799efaf74922bc9872dc,Jane,Smith,jane_smith,password321,path/to/image,jane.smith@example.com,user,"[{'Name': 'Stranger Things', 'Status': 'plan t..."