In [111]:
import pymongo
import seaborn
import pandas

In [112]:
client = pymongo.MongoClient("mongodb://localhost:27017/")
db = client['progress_tracker']
tvCollection = db['TV']
usersCollection = db['Users']

In [113]:
tvShows = [
    {
        "Title": "Stranger Things",
        "Creators": ["Matt Duffer", "Ross Duffer"],
        "Number of Episodes": 34
    },
    {
        "Title": "The Umbrella Academy",
        "Creators": ["Steve Blackman", "Jeremy Slater"],
        "Number of Episodes": 30
    },
        {
        "Title": "The Crown",
        "Creators": ["Peter Morgan"],
        "Number of Episodes": 50,
    },
    {
        "Title": "Money Heist",
        "Creators": ["Álex Pina"],
        "Number of Episodes": 41,
    },
    {
        "Title": "Black Mirror",
        "Creators": ["Charlie Brooker"],
        "Number of Episodes": 22,
    },
    {
        "Title": "The Witcher",
        "Creators": ["Lauren Schmidt Hissrich"],
        "Number of Episodes": 24,
    },
    {
        "Title": "Narcos",
        "Creators": ["Chris Brancato", "Carlo Bernard", "Doug Miro"],
        "Number of Episodes": 30,
    },
    {
        "Title": "Ozark",
        "Creators": ["Bill Dubuque", "Mark Williams"],
        "Number of Episodes": 44,
    },
    {
        "Title": "The Haunting of Hill House",
        "Creators": ["Mike Flanagan"],
        "Number of Episodes": 10,
    },
    {
        "Title": "Mindhunter",
        "Creators": ["Joe Penhall"],
        "Number of Episodes": 19,
    }
]

In [114]:
users = [
    {
        "Fname": "John",
        "Lname": "Doe",
        "Username": "john_doe",
        "Password": "password123",
        "Profile image": "path/to/image",
        "Email": "john.doe@example.com",
        "Role": "user",
        "Shows watched": [
            {
                "Name": "Stranger Things",
                "Status": "watching",
                "Episodes": 5
            }
        ]
    },
    {
        "Fname": "Jane",
        "Lname": "Smith",
        "Username": "jane_smith",
        "Password": "password321",
        "Profile image": "path/to/image",
        "Email": "jane.smith@example.com",
        "Role": "user",
        "Shows watched": [
            {
                "Name": "The Umbrella Academy",
                "Status": "completed",
                "Episodes": 30
            }
        ]
    }
]

In [115]:
try:
    tvCollection.insert_many(tvShows)
    print("Tv Data inserted successfully.")
except:
    print("Something isn't setup right.")

Tv Data inserted successfully.

In [116]:
try:
    usersCollection.insert_many(users)
    print("User Data inserted successfully.")
except:
    print("Something isn't setup right.")

User Data inserted successfully.

In [120]:
tvDocuments = tvCollection.find({})
usersDocuments = usersCollection.find({})

In [121]:
pandas.DataFrame(list(tvDocuments))

,_id,Title,Creators,Number of Episodes
0,64d113adb2ec32d5be5b6710,Stranger Things,"[Matt Duffer, Ross Duffer]",8
1,64d113adb2ec32d5be5b6711,The Umbrella Academy,"[Steve Blackman, Jeremy Slater]",10
2,64d1145eb2ec32d5be5b6716,Stranger Things,"[Matt Duffer, Ross Duffer]",8
3,64d1145eb2ec32d5be5b6717,The Umbrella Academy,"[Steve Blackman, Jeremy Slater]",10
4,64d11580b2ec32d5be5b6718,Stranger Things,"[Matt Duffer, Ross Duffer]",34
...,...,...,...,...
149,64da4c1f00c02dd55e739433,The Witcher,[Lauren Schmidt Hissrich],24
150,64da4c1f00c02dd55e739434,Narcos,"[Chris Brancato, Carlo Bernard, Doug Miro]",30
151,64da4c1f00c02dd55e739435,Ozark,"[Bill Dubuque, Mark Williams]",44
152,64da4c1f00c02dd55e739436,The Haunting of Hill House,[Mike Flanagan],10
153,64da4c1f00c02dd55e739437,Mindhunter,[Joe Penhall],19

In [122]:
pandas.DataFrame(list(usersDocuments))

,_id,Fname,Lname,Username,Password,Profile image,Email,Role,Shows watched,Title,Creators,Number of Episodes
0,64d113b3b2ec32d5be5b6712,John,Doe,john_doe,password123,path/to/image,john.doe@example.com,user,"[{'Name': 'Stranger Things', 'Status': 'watchi...",NaN,NaN,NaN
1,64d113b3b2ec32d5be5b6713,Jane,Smith,jane_smith,password321,path/to/image,jane.smith@example.com,user,"[{'Name': 'The Umbrella Academy', 'Status': 'c...",NaN,NaN,NaN
2,64d113b4b2ec32d5be5b6714,John,Doe,john_doe,password123,path/to/image,john.doe@example.com,user,"[{'Name': 'Stranger Things', 'Status': 'watchi...",NaN,NaN,NaN
3,64d113b4b2ec32d5be5b6715,Jane,Smith,jane_smith,password321,path/to/image,jane.smith@example.com,user,"[{'Name': 'The Umbrella Academy', 'Status': 'c...",NaN,NaN,NaN
4,64d11586b2ec32d5be5b6722,John,Doe,john_doe,password123,path/to/image,john.doe@example.com,user,"[{'Name': 'Stranger Things', 'Status': 'watchi...",NaN,NaN,NaN
5,64d11586b2ec32d5be5b6723,Jane,Smith,jane_smith,password321,path/to/image,jane.smith@example.com,user,"[{'Name': 'The Umbrella Academy', 'Status': 'c...",NaN,NaN,NaN
6,64d115eeb2ec32d5be5b6724,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stranger Things,"[Matt Duffer, Ross Duffer]",34.0
7,64d115eeb2ec32d5be5b6725,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The Umbrella Academy,"[Steve Blackman, Jeremy Slater]",30.0
8,64d115eeb2ec32d5be5b6726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The Crown,[Peter Morgan],50.0
9,64d115eeb2ec32d5be5b6727,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Money Heist,[Álex Pina],41.0
10,64d115eeb2ec32d5be5b6728,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Black Mirror,[Charlie Brooker],22.0
11,64d115eeb2ec32d5be5b6729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The Witcher,[Lauren Schmidt Hissrich],24.0
12,64d115eeb2ec32d5be5b672a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Narcos,"[Chris Brancato, Carlo Bernard, Doug Miro]",30.0
13,64d115eeb2ec32d5be5b672b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Ozark,"[Bill Dubuque, Mark Williams]",44.0
14,64d115eeb2ec32d5be5b672c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The Haunting of Hill House,[Mike Flanagan],10.0
15,64d115eeb2ec32d5be5b672d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Mindhunter,[Joe Penhall],19.0
16,64d115eeb2ec32d5be5b672e,John,Doe,john_doe,password123,path/to/image,john.doe@example.com,user,"[{'Name': 'Stranger Things', 'Status': 'watchi...",NaN,NaN,NaN
17,64d115eeb2ec32d5be5b672f,Jane,Smith,jane_smith,password321,path/to/image,jane.smith@example.com,user,"[{'Name': 'The Umbrella Academy', 'Status': 'c...",NaN,NaN,NaN
18,64d1188cd2a2af3c902d4cd6,John,Doe,john_doe,password123,path/to/image,john.doe@example.com,user,"[{'Name': 'Stranger Things', 'Status': 'watchi...",NaN,NaN,NaN
19,64d1188cd2a2af3c902d4cd7,Jane,Smith,jane_smith,password321,path/to/image,jane.smith@example.com,user,"[{'Name': 'The Umbrella Academy', 'Status': 'c...",NaN,NaN,NaN
20,64da3dd600c02dd55e73939c,John,Doe,john_doe,password123,path/to/image,john.doe@example.com,user,"[{'Name': 'Stranger Things', 'Status': 'watchi...",NaN,NaN,NaN
21,64da3dd600c02dd55e73939d,Jane,Smith,jane_smith,password321,path/to/image,jane.smith@example.com,user,"[{'Name': 'The Umbrella Academy', 'Status': 'c...",NaN,NaN,NaN
22,64da427900c02dd55e7393a9,John,Doe,john_doe,password123,path/to/image,john.doe@example.com,user,"[{'Name': 'Stranger Things', 'Status': 'watchi...",NaN,NaN,NaN
23,64da427900c02dd55e7393aa,Jane,Smith,jane_smith,password321,path/to/image,jane.smith@example.com,user,"[{'Name': 'The Umbrella Academy', 'Status': 'c...",NaN,NaN,NaN
24,64da455200c02dd55e7393b6,John,Doe,john_doe,password123,path/to/image,john.doe@example.com,user,"[{'Name': 'Stranger Things', 'Status': 'watchi...",NaN,NaN,NaN
25,64da455200c02dd55e7393b7,Jane,Smith,jane_smith,password321,path/to/image,jane.smith@example.com,user,"[{'Name': 'The Umbrella Academy', 'Status': 'c...",NaN,NaN,NaN
26,64da457200c02dd55e7393c3,John,Doe,john_doe,password123,path/to/image,john.doe@example.com,user,"[{'Name': 'Stranger Things', 'Status': 'watchi...",NaN,NaN,NaN
27,64da457200c02dd55e7393c4,Jane,Smith,jane_smith,password321,path/to/image,jane.smith@example.com,user,"[{'Name': 'The Umbrella Academy', 'Status': 'c...",NaN,NaN,NaN
28,64da458200c02dd55e7393d0,John,Doe,john_doe,password123,path/to/image,john.doe@example.com,user,"[{'Name': 'Stranger Things', 'Status': 'watchi...",NaN,NaN,NaN
29,64da458200c02dd55e7393d1,Jane,Smith,jane_smith,password321,path/to/image,jane.smith@example.com,user,"[{'Name': 'The Umbrella Academy', 'Status': 'c...",NaN,NaN,NaN
30,64da45a900c02dd55e7393dd,John,Doe,john_doe,password123,path/to/image,john.doe@example.com,user,"[{'Name': 'Stranger Things', 'Status': 'watchi...",NaN,NaN,NaN
31,64da45a900c02dd55e7393de,Jane,Smith,jane_smith,password321,path/to/image,jane.smith@example.com,user,"[{'Name': 'The Umbrella Academy', 'Status': 'c...",NaN,NaN,NaN
32,64da45f300c02dd55e7393ea,John,Doe,john_doe,password123,path/to/image,john.doe@example.com,user,"[{'Name': 'Stranger Things', 'Status': 'watchi...",NaN,NaN,NaN
33,64da45f300c02dd55e7393eb,Jane,Smith,jane_smith,password321,path/to/image,jane.smith@example.com,user,"[{'Name': 'The Umbrella Academy', 'Status': 'c...",NaN,NaN,NaN
34,64da45fb00c02dd55e7393f7,John,Doe,john_doe,password123,path/to/image,john.doe@example.com,user,"[{'Name': 'Stranger Things', 'Status': 'watchi...",NaN,NaN,NaN
35,64da45fb00c02dd55e7393f8,Jane,Smith,jane_smith,password321,path/to/image,jane.smith@example.com,user,"[{'Name': 'The Umbrella Academy', 'Status': 'c...",NaN,NaN,NaN
36,64da46e800c02dd55e739404,John,Doe,john_doe,password123,path/to/image,john.doe@example.com,user,"[{'Name': 'Stranger Things', 'Status': 'watchi...",NaN,NaN,NaN
37,64da46e800c02dd55e739405,Jane,Smith,jane_smith,password321,path/to/image,jane.smith@example.com,user,"[{'Name': 'The Umbrella Academy', 'Status': 'c...",NaN,NaN,NaN
38,64da48fe00c02dd55e739411,John,Doe,john_doe,password123,path/to/image,john.doe@example.com,user,"[{'Name': 'Stranger Things', 'Status': 'watchi...",NaN,NaN,NaN
39,64da48fe00c02dd55e739412,Jane,Smith,jane_smith,password321,path/to/image,jane.smith@example.com,user,"[{'Name': 'The Umbrella Academy', 'Status': 'c...",NaN,NaN,NaN
40,64da4ad200c02dd55e73941e,John,Doe,john_doe,password123,path/to/image,john.doe@example.com,user,"[{'Name': 'Stranger Things', 'Status': 'watchi...",NaN,NaN,NaN
41,64da4ad200c02dd55e73941f,Jane,Smith,jane_smith,password321,path/to/image,jane.smith@example.com,user,"[{'Name': 'The Umbrella Academy', 'Status': 'c...",NaN,NaN,NaN
42,64da4c1700c02dd55e73942b,John,Doe,john_doe,password123,path/to/image,john.doe@example.com,user,"[{'Name': 'Stranger Things', 'Status': 'watchi...",NaN,NaN,NaN
43,64da4c1700c02dd55e73942c,Jane,Smith,jane_smith,password321,path/to/image,jane.smith@example.com,user,"[{'Name': 'The Umbrella Academy', 'Status': 'c...",NaN,NaN,NaN
44,64da4c1f00c02dd55e739438,John,Doe,john_doe,password123,path/to/image,john.doe@example.com,user,"[{'Name': 'Stranger Things', 'Status': 'watchi...",NaN,NaN,NaN
45,64da4c1f00c02dd55e739439,Jane,Smith,jane_smith,password321,path/to/image,jane.smith@example.com,user,"[{'Name': 'The Umbrella Academy', 'Status': 'c...",NaN,NaN,NaN